// File: Reset
// Author: Marco Maza
// Version: 1.0.0
// License: MIT
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--brand-color-1);
  color: var(--brand-color-2);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
