// File: Variables
// Author: Marco Maza
// Version: 1.0.0
// License: MIT

// Colors
$colors: (
  // Chromatic shold be left as is.
  black: #000000,
  white: #ffffff,
  // Main can be empty (i.e.: Chromatic colors == Main colors).
  purple: #3d0046,
  yellow: #d97f11,
  turquoise: #168c8c,
  green: #09470b
);

// Shades and Tints
// $gap * $count must be an integer between 0 and 100
// Both $gap and $count must be integers
$gap: 5;
$count: 5;

// Fonts
// Usually 1rem = 16px in most of the browsers according to the UA stylesheet. However this can be changed by the user in theirs browsers options.
$font-base: 1rem;
$font-multiplicator: 1;

// Buttons and Links
// Set the colors for each hierarchy
$primary: map-get($colors, black);
$secondary: map-get($colors, yellow);
// Use for the visited links
$tertiary: map-get($colors, black);

// Paddings, Margins
$margin: 1rem;
$padding: 1rem;

// Media queries
// Breakpoints
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  super: 1200px,
);
// Orientation
$orientation: (
  portrait: portrait,
  landscape: landscape,
);
